.footContain {
  /*border: 4px solid green;*/
  /*display: block;
  float: right;
  height: 550px;
  width: 150px;*/
}

.number {
  color: red;
}

.footItem {
  display: inline;
  margin: 10px 40px;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-size: 20px;
}

.footItem:hover {
  text-decoration: underline;
  color: rgba(8, 29, 112, 0.3);
}
